<script src="/style/index.js"></script>

<div class="container-fluid">

  <!-- Laziness -->
  <div class="starter-template">

    <!-- Header
<div class="pulsate"><h1><span style="color:#ff0000;">S</span><span style="color:#ff4000;">u</span><span style="color:#ff7f00;">m</span><span style="color:#ffbf00;">m</span><span style="color:#ffff00;">e</span><span style="color:#80ff00;">r</span><span style="color:#00ff00;"> </span><span style="color:#00ff80;">H</span><span style="color:#00ffff;">i</span><span style="color:#0080ff;">l</span><span style="color:#0000ff;">l</span></h1></div>
    <hr>
    -->
    
    <h1 id="rainbowtitle">Summer Hill</h1>
    <hr>

    <!-- Stats Header -->
    <p>
    <b>Amount paid on Mortgage:</b>
    <div><h3>$<TMPL_VAR NAME="currentOffset"></h3></div>
    <p class="text-muted"><br />
    <i>Current Month: <TMPL_VAR NAME="monthsPassed">. <br />
    Amount Remaining: $<TMPL_VAR NAME="mortgageRemaining">. <br />
    <span class="pulsate">Paid This Month: <TMPL_VAR NAME="currentOffsetPayment">. </i></span><br />
    <TMPL_UNLESS NAME="generateEmail">
    <TMPL_IF NAME="interestDue">
      <font color=#B20000">Interest Has Not Yet Been Paid (~$500)</font><br />
    <TMPL_ELSE>
      <font color="#00B200">Interest Has Been Paid!</font><br />
    </TMPL_IF>
    <TMPL_IF NAME="rentDue">
      <font color=#B20000">Rent Has Not Yet Been Paid (~$3k)</font><br />
    <TMPL_ELSE>
      <font color="#00B200">Rent Has Been Paid!</font><br />
    </TMPL_IF>
    </TMPL_UNLESS>
    </p>

    <!--
    <p>Last Offset Value: $<TMPL_VAR NAME="lastOffsetValue"></p>
    <p>Mortgage Remaining: $<TMPL_VAR NAME="mortgageRemaining"></p>
    <p>Current Offset: $<TMPL_VAR NAME="currentOffset"></p>
    <p>Pay Cycle Start: <TMPL_VAR NAME="payCycleStart"></p>
    <p>Pay Cycle End: <TMPL_VAR NAME="payCycleEnd"></p>
    <p>Pay Cycle Payment: <TMPL_VAR NAME="currentOffsetPayment"></p>
    <p>Average 6 Month Cycle Payment: <TMPL_VAR NAME="averagePayment"></p>

    <p><TMPL_VAR NAME="diag_one"></p>
    <p><TMPL_VAR NAME="diag_two"></p>
    -->

    <TMPL_UNLESS NAME="generateEmail">
    <!-- Alert if we have not payed just yet -->
    <TMPL_IF NAME="paymentNeeded">
      <hr>
      <div class="alert alert-danger" role="alert">
        <b>Warning: Have not locked in any pay this month</b>
      </div>
    </TMPL_IF>

    <!-- Donate Button: -->
    <hr>
    <form class="form-inline" action="/newindex.pl" method="POST">
      <div class="form-group">
        <label for="inputPay">Pay Now:</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" id="inputPay" name="inputPay" placeholder="Amount.." pattern="\d*">
        </div>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <br>

    <!-- History Table -->
    <hr>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <table class="table">
      <tr>
        <th>Month</th>
        <th>Amount</th>
      </tr>
      <tr>
      <td>
        <b>Life Average:</b>
      </td>
      <td>
        <b><TMPL_VAR NAME="lifeAverage"><b/>
      </td>
      </tr>
      <tr>
      <td>
        <b>6 Month Average:</b>
      </td>
      <td>
        <b><TMPL_VAR NAME="averagePayment"><b/>
      </td>
      </tr>
      <TMPL_LOOP NAME="rollingHistory">
      <tr>
      <td>
        <TMPL_VAR NAME="monthName">
      </td>
      <td>
        <TMPL_VAR NAME="sum">
      </td>
      </tr>
      </TMPL_LOOP>
      </table>
    </div>

    </TMPL_UNLESS>

    <!--
    <TMPL_LOOP NAME="rollingHistory">
      <p><TMPL_VAR NAME="cycStart"> - <TMPL_VAR NAME="monthName"> - <TMPL_VAR NAME="sum"></p>
    </TMPL_LOOP>
    -->

  <!-- /starter-template -->
  </div>

<!-- /container-fluid -->
</div>
